.blobsContainer {
  overflow: hidden;

  &:after {
    content: "";
    width: 100%;
    height: 100vh;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    // opacity: 0
  }

  .blobs {
    width: 70vh;
    height: 70vh;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // filter: contrast(30)

    .blob {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      position: absolute;
      mix-blend-mode: blend;
      filter: blur(30px);

      &.a {
        background-color: mix(#ffaad4, white, 40%);
        animation: circular 15s linear infinite;
      }
      &.b {
        background-color: mix(#ffaad4, white, 60%);
        animation: circular 15s reverse infinite;
      }
      // &.c {
      //   background-color: mix(#ffaad4, white, 50%);
      //   animation: circular3 10s linear infinite;
      // }
    }
  }
}

$R: 300px;
@keyframes circular {
  0% {
    transform: translate(0, -$R);
  }
  25% {
    transform: translate($R, 0);
  }
  50% {
    transform: translate(0, $R);
  }
  75% {
    transform: translate(-$R, 0);
  }
  100% {
    transform: translate(0, -$R);
  }
}

@keyframes circular2 {
  0% {
    transform: translate(0, $R);
  }
  25% {
    transform: translate(-$R, 0);
  }
  50% {
    transform: translate(0, -$R);
  }
  75% {
    transform: translate($R, 0);
  }
  100% {
    transform: translate(0, $R);
  }
}

@keyframes circular3 {
  0% {
    transform: translate(0, $R);
  }
  25% {
    transform: translate(-$R, 0);
  }
  50% {
    transform: translate(0, -$R);
  }
  75% {
    transform: translate($R, 0);
  }
  100% {
    transform: translate(0, $R);
  }
}
